In [3]:
import warnings
warnings.filterwarnings('ignore')

from pathlib import Path
from utils.data_loader import load_crime_dataset

import pandas as pd

In [4]:
# Location of stored dataset
dataset_path = Path('../datasets/chicago-crime-data.csv')

if dataset_path.exists():
    print(f"File found: {dataset_path.name}")
else:
    load_crime_dataset()

File found: chicago-crime-data.csv

In [5]:
# Converting result into dataframe
results_df = pd.read_csv(dataset_path)
results_df.head(4)

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location,:@computed_region_awaf_s7ux
0,13639616,JH479028,2024-10-23T00:00:00.000,051XX S WOODLAWN AVE,1365,CRIMINAL TRESPASS,TO RESIDENCE,APARTMENT,True,False,...,41,26,1185098.0,1871194.0,2024,2024-10-30T15:41:19.000,41.801709,-87.596698,"{'latitude': '41.801709383', 'longitude': '-87...",1.0
1,13640715,JH480350,2024-10-23T00:00:00.000,014XX S RIDGEWAY AVE,4650,OTHER OFFENSE,SEX OFFENDER - FAIL TO REGISTER,APARTMENT,False,False,...,29,26,1151613.0,1892717.0,2024,2024-10-30T15:41:19.000,41.861493,-87.718936,"{'latitude': '41.861493158', 'longitude': '-87...",36.0
2,13644428,JH484973,2024-10-23T00:00:00.000,045XX N CLARENDON AVE,2826,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,APARTMENT,False,False,...,3,26,1170091.0,1930547.0,2024,2024-10-30T15:41:19.000,41.964918,-87.650001,"{'latitude': '41.96491786', 'longitude': '-87....",37.0
3,13640484,JH480220,2024-10-23T00:00:00.000,001XX W CERMAK RD,2028,NARCOTICS,POSSESS - SYNTHETIC DRUGS,CTA PLATFORM,True,False,...,33,18,1175994.0,1889765.0,2024,2024-10-30T15:41:19.000,41.852879,-87.629527,"{'latitude': '41.852879013', 'longitude': '-87...",12.0

In [6]:
# Dropping redundant columns
results_df.drop(columns=results_df.columns[22:], axis = 1, inplace= True)

In [7]:
# Check duplicate rows
print(f"Duplicated rows detected: {sum(results_df.duplicated())}")

Duplicated rows detected: 0

In [8]:
# Check missing values
results_df.isna().sum()

id                        0
case_number               0
date                      0
block                     0
iucr                      0
primary_type              0
description               0
location_description    307
arrest                    0
domestic                  0
beat                      0
district                  0
ward                      0
community_area            0
fbi_code                  0
x_coordinate            120
y_coordinate            120
year                      0
updated_on                0
latitude                120
longitude               120
location                120
dtype: int64